body{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.App{
  max-width: 600px;
  margin: 100px auto;
}

.App footer{
  text-align: center;
  font-size: 12px;
  margin: 10px 0;
}