
.Weather {
    border: 1px solid #DADDE1;
    border-radius: 4px;
    padding: 16px;
    max-width: 600px;
    color:#878787;
}

.Weather h1{
    font-size: 24px;
    margin: 20px 0 0 0;
    line-height: 29px;
    font-weight: 100;
}

.Weather ul{
    margin: 0;
    padding: 0;
}

.Weather li{
    font-size: 16px;
    list-style: none;
    line-height: 19px;
    font-weight: 300;
}

.Weather img{
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
}

.Weather .temperature{
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
  
}

.Weather .unit{
    font-size: 20px;
    line-height: 1;
    position: relative;
    top: -34px;
}